//  Custom Variables
//  See "node_modules\bootstrap\scss\_variables.scss"
//  For what can be altered

$primary: #1c3350;
$secondary: #e60c96;
// Tan / "soft brown" = #E6DACA
// Ice blue / "soft blue" = #CAD6DF

$display1-size: 3.5rem !default;
$display2-size: 2.5rem !default;
$display3-size: 1.5rem !default;
$display4-size: 0.5rem !default;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
