$display1-size: 3.5rem !default;
$display2-size: 2.5rem !default;
$display3-size: 1.5rem !default;
$display4-size: 0.5rem !default;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
